<i *ngFor="let i of usuarios">

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="i.rol == 0">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">Gestión incidencias APP</a>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/crear">Introducción incidencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/gestionIncidencias">Gestión incidencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/revisionIncidencias">Revisión incidencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/controlAcceso">Control Usuarios</a>
        </li>
      </ul>
      <form class="d-flex">
        <button (click)="onClick()" class="btn btn-outline-danger mb-2">Logout</button>
      </form>
    </div>
    
  
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="i.rol == 1">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">Gestión incidencias APP</a>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/crear">Introducción incidencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/gestionIncidencias">Gestión incidencias</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <button (click)="onClick()" class="btn btn-outline-danger mb-2">Logout</button>
      </form>
    </div>
    
  
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="i.rol == 2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">Gestión incidencias APP</a>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/crear">Introducción incidencias</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <button (click)="onClick()" class="btn btn-outline-danger mb-2">Logout</button>
      </form>
    </div>
    
  
  </div>
</nav>
</i>


<body>
  <br>
  <br>
  <br>
  <br>

  <p class="display-1 text-center" style="color: blanchedalmond;">APP Gestion Incidencias</p>
  

    <div class="m-5 row g-3 align-items-center alert alert-secondary" role="alert">
      <h2 class="alert-heading text-center">Bienvenido la aplicación de Juan Carlos Bada!!</h2>
      <p>Está haciendo uso de la app de gestión de incidendias, en esta aplicación, segun su rol de usuario,
        tendrá acceso a las distintas ventanas de introducción, gestión y revisión de incidencias, y a la ventana
        de control de acceso de usuario.
      </p>
      <hr>
      <p class="mb-0">Si su usuario no puede acceder a la ventana deseada, cierre sesión y vuelva a iniciarla
        con uno que si tenga el rol necesario para acceder a esa ventana.
      </p>
    </div>
    
</body>


