<section>
    
  </section>
  <section class="m-5">
    <div class=" m-5 row g-3 align-items-center">
      <form class="text-center border border-2 rounded" [formGroup]="incidenciaForm" (submit)="crearIncidencias()">
        <div class="m-5 row g-3 align-items-center">
          <h1>Introduccion incidencia</h1>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <input class="form-control" placeholder="Persona" type="text" formControlName="persona" id="publico">
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <input class="form-control" placeholder="Lugar" type="text" formControlName="lugar" id="publico">
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <input class="form-control" placeholder="Descripcion" type="text" formControlName="descripcion" id="publico">
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <input class="form-control" placeholder="Fecha" type="date" formControlName="fecha" id="publico">
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <input class="form-control" placeholder="Solucion" type="text" formControlName="solucion" id="publico">
          </div>
        <div class="mt-3 mb-3 pb-2">
          <button class="btn btn-primary mb-2" type="submit">Enviar</button>
          <button type="button" class="btn btn-light mb-2" (click)="goBack()">Volver</button> 
        </div>
      </form>
    </div>
  </section>
  