<i *ngFor="let i of usuarios">
    <div *ngIf="i.rol == 0||i.rol == 1">
        <u>
            <h1 style="text-align:center"> Listado de Incidencias Registradas</h1>
        </u>
        <h3 style="text-align: center">(Pulse para editar su estado)</h3>


        <ul *ngFor="let incidencia of listaIncidencias" class="list-group">
            <br>
            <div class="contenedor text-center">
                <a routerLink="/gestionIncidencias/gestionIncidencias/{{incidencia.id}}"
                    class="btn btn-outline-success">
                    Persona: {{incidencia.data.persona}} // Descripcion: {{incidencia.data.descripcion}}
                </a>
            </div>
        </ul>
        <br>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-light" (click)="goBack()">Volver</button>
        </div>
    </div>
    <div class="text-center" *ngIf="i.rol == 2">
        <br>
      <br>
      <br>
      <br>
      <div class="m-5 row g-3 align-items-center alert alert-danger" role="alert">
        <h4 class="alert-heading">Nivel de acceso denegado.</h4>
        <p>Su usuario no cumple los requisitos para acceder a la ventana de gestión de incidencias, es decir,
          su rol de usuario no tiene acceso.
        </p>
        <hr>
        <p class="mb-0">Para poder acceder a esta ventana, inicie sesión con un usuario que si tenga permiso a este ventana</p>
      </div>
      <button type="button" class="btn btn-danger" (click)="goBack()">Volver</button>
      <br>
      <br>
      <button type="button" class="btn btn-success" (click)="onClick()">Iniciar sesión con usuario con permiso</button>
      </div>